@model GladiaSystem.Models.Agenda
@{
    ViewBag.Title = "Agenda";
    ViewBag.Selected = "agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="create">
    <img src="~/Content/Imagens/plus.svg" id="plus" data-toggle="modal" data-target="#exampleModal">
    <span id="create-text" data-toggle="modal" data-target="#exampleModal">Criar</span>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Criar agendamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateAgenda", "Home", FormMethod.Post))
                {
                    <fieldset>
                        <legend>Dados do Agendamento</legend>
                        <hr class="form-hr" />

                        <div class="input-block">
                            <label for="client">Nome do Cliente</label>
                            @Html.EditorFor(model => model.ClientName)
                            @Html.ValidationMessageFor(m => m.ClientName, "", new { @class = "error-red" })
                        </div>

                        <hr class="form-hr" />
                        <div class="input-block">
                            <label for="pet">Nome do Pet</label>
                            @Html.EditorFor(model => model.Pet)
                            @Html.ValidationMessageFor(m => m.Pet, "", new { @class = "error-red" })
                        </div>

                        <hr class="form-hr" />
                        <div class="input-block">
                            <label for="day">Descrição</label>
                            @Html.EditorFor(model => model.Desc)
                            @Html.ValidationMessageFor(m => m.Desc, "", new { @class = "error-red" })
                        </div>

                        <hr class="form-hr" />
                        <div class="input-block">
                            <label for="day">Dia</label>
                            @Html.EditorFor(model => model.Day)
                            @Html.ValidationMessageFor(m => m.Day, "", new { @class = "error-red" })
                        </div>

                        <hr class="form-hr" />
                        <div class="input-block">
                            <label for="pet">Hora do agendamento</label>
                            @Html.EditorFor(model => model.Hour)
                            @Html.ValidationMessageFor(m => m.Hour, "", new { @class = "error-red" })
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="btn-cancel-modal" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" id="btn-create-modal" class="btn btn-primary">Criar</button>
                        </div>

                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

@if (TempData.ContainsKey("Error"))
{
    <div>
        <p class="error-red"><strong>Erro:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData.ContainsKey("Success"))
{
    <div>
        <p class="success-green"><strong>Sucesso:</strong> @TempData["Success"].ToString()</p>
    </div>
}

<div class="agenda">

    <div class="header">
        <h4 class="cli">Cliente</h4>
        <h4>Nome do pet</h4>
        <h4>Descrição</h4>
        <h4>Data</h4>
        <h4 class="status">Status</h4>
    </div>

    <!--One Item-->
    <div class="item">
        <p class="client">GustaGay</p>
        <p class="pet">Xuxu</p>
        <p class="description">Banho</p>
        <div class="date">
            <p class="date">May 26</p>
            <p class="time">6:30 PM</p>
        </div>
        <img src="~/Content/Imagens/check.svg" class="status" alt="check" />
        <img src="~/Content/Imagens/delete.svg" class="delete" alt="delete" />
    </div>
    <div class="hr"></div>

    <!--One Item-->
    <div class="item">
        <p class="client">GustaGay</p>
        <p class="pet">Xuxu</p>
        <p class="description">Banho</p>
        <div class="date">
            <p class="date">May 26</p>
            <p class="time">6:30 PM</p>
        </div>
        <img src="~/Content/Imagens/not-check.svg" class="status" alt="check" />
        <img src="~/Content/Imagens/delete.svg" class="delete" alt="delete" />
    </div>
    <div class="hr"></div>

    <!--One Item-->
    <div class="item">
        <p class="client">GustaGay</p>
        <p class="pet">Xuxu</p>
        <p class="description">Banho</p>
        <div class="date">
            <p class="date">May 26</p>
            <p class="time">6:30 PM</p>
        </div>
        <img src="~/Content/Imagens/not-check.svg" class="status" alt="check" />
        <img src="~/Content/Imagens/delete.svg" class="delete" alt="delete" />
    </div>
    <div class="hr"></div>

    <!--One Item-->
    <div class="item">
        <p class="client">GustaGay</p>
        <p class="pet">Xuxu</p>
        <p class="description">Banho</p>
        <div class="date">
            <p class="date">May 26</p>
            <p class="time">6:30 PM</p>
        </div>
        <img src="~/Content/Imagens/not-check.svg" class="status" alt="check" />
        <img src="~/Content/Imagens/delete.svg" class="delete" alt="delete" />
    </div>
    <div class="hr"></div>


</div>