@model GladiaSystem.Models.Category
@{
    ViewBag.Title = "Cadastro Categoria";
    ViewBag.Selected = "category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    @using (Html.BeginForm("CadCategory", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Dados da categoria</legend>

            <hr class="form-hr" />
            @if (ViewData["Error"] != null)
            {
                <div>
                    <p class="error-red"><strong>Erro:</strong> @ViewData["Error"].ToString()</p>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div>
                    <p class="success-green"><strong>Sucesso:</strong> @TempData["Success"].ToString()</p>
                </div>
            }
            <div class="input-block">
                <label for="name">Nome da categoria</label>
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(m => m.name, "", new { @class = "error-red"})
            </div>

            <div class="dog-area">
                <div class="up-img-dog">
                    <img src="~/Content/Imagens/dog-img.svg" class="img-fluid" alt="Upload img" />
                </div>
            </div>

            <button class="sub-button" type="submit">Cadastrar</button>
        </fieldset>
        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval");
        }
    }
</main>

