
@{
    ViewBag.Title = "Configurações ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="change-photo" id="small-card">
        <div class="info">
            <img src=@ViewBag.Img alt="Avatar photo" class="avatar-img" />
            <p class="avatar-name">@Session["name"]</p>
            <p class="text-email">Email </p>
            <p class="desc-email">@Session["email"]</p>
        </div>
        @using (Html.BeginForm("ChangePhotoPassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="imgFile" required>
            <button class="sub-button" type="submit">Alterar foto</button>
            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval");
            }
        }

    </div>
    <div class="big-container" id="bigger-card">
        <div class="change-container">
            <a href="@Url.Action("ChangePassword", "Home")"
               class="link-a"><span>Alterar senha </span></a>
            <a href="@Url.Action("ChangeName", "Home")"
               class="link-a"><span>Alterar nome</span></a>
            <a href="@Url.Action("DeleteAccount", "Home")"
               id="activated-down"
               class="link-a"><span class="change">Apagar conta </span></a>
        </div>
        <hr class="divide-hr" />
        <div>
            <img src="~/Content/Imagens/deletePag.svg" alt="Alternate Text" class="img-fluid" />
        </div>
        <input type="button" class="sub-button" id="delete-button" title="Delete" value="Deletar" onclick="location.href='@Url.Action("Delete", "Home")'" />

    </div>
</div>