@model GladiaSystem.Models.User
@{
    ViewBag.Title = "Cadastrar Funcionário";
    ViewBag.Selected = "func";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    @using (Html.BeginForm("CadEmployee", "Home", FormMethod.Post))
    {
        <fieldset>
            <legend>Dados do Funcionário</legend>
            <hr class="form-hr" />
            <div class="input-block">
                <label for="name">Nome completo</label>
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
            </div>

            <div class="input-block">
                <label for="avatar">
                    Email
                </label>
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
            </div>

            <div class="input-block">
                <label for="senha">
                    Senha
                </label>
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
            </div>

            <div class="textarea-block">
                <div class="up-img">
                    <img src="~/Content/Imagens/up-img.svg" id="up-photo" alt="Upload img" />
                    @Html.LabelFor(model => model.img);
                    @Html.ValidationMessageFor(m => m.img, "", new { @class = "text-danger" })
                    <input type="file" name="imgFile" required>
                </div>
            </div>

            <button class="sub-button" type="submit">Cadastrar</button>
        </fieldset>
        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval");
        }
    }
</main>