
@{
    ViewBag.Title = "Payment";
    ViewBag.Selected = "payment";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/root.css")
@Styles.Render("~/Content/Partials/sidebar.css")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/fontawesome.css")
@Styles.Render("~/Content/Partials/pos.css")
@Styles.Render("~/Content/Partials/header.css")
@Styles.Render("~/Content/Partials/form.css")
@Styles.Render("~/Content/Partials/config.css")
@Styles.Render("~/Content/Partials/agenda.css")
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">

<title>Caixa - Dom Tchochoro</title>
<main class="page-content">
    <header>
        <a href="@Url.Action("POS", "Home")"><img src="~/Content/Imagens/send-back.svg" alt="Send back" class="send-img" /></a>
        <span></span>
        <small id="personName">@ViewBag.Name Ferdinando Silva</small>
        <img class="img-fluid avatar-picture" src="~/Content/Imagens/fakePictureProfile.svg" />
    </header>

    <section>
            <div class="money">
                <span id="money">Dinheiro</span>
            </div>
            <div class="credit">
                <span id="credit">Cartão de Crétido</span>
            </div>
            <br />
            <div class="debit">
                <span id="debit">Cartão de Débito</span>
            </div>
            <div class="val">
                <span id="val">Vale</span>
            </div>
        <div class="buy-value">
            <span id="buy-value">Valor da compra</span>
            <span id="sub-value">Subtotal: R$ 50,00</span>
            <span id="total-value">Valor Pago: R$ 0,00</span>
        </div>
        <div class="money-change">
            <span id="change">Troco</span>
            <span id="change-text">Devolva o troco para continuar</span>
            <span id="change-total">Valor do troco: R$ 0,00</span>
        </div>
        <div class="total-value">
            <p id="paid">Valor pago:</p>
            <div class="inpbutton">
                <input id="value-input" value="R$ 10,00" />
                <button class="btn-final" type="submit"><a href="@Url.Action("Receipt", "Home")">Finalizar</a><img src="~/Content/Imagens/arrow-right.svg" alt="Arrow right" class="arrow" /></button>
            </div>
        </div>
    </section>

</main>