
@{
    ViewBag.Title = "Payment";
    ViewBag.Selected = "payment";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/root.css")
@Styles.Render("~/Content/Partials/sidebar.css")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/fontawesome.css")
@Styles.Render("~/Content/Partials/pos.css")
@Styles.Render("~/Content/Partials/header.css")
@Styles.Render("~/Content/Partials/form.css")
@Styles.Render("~/Content/Partials/config.css")
@Styles.Render("~/Content/Partials/agenda.css")
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">

<title>Caixa - Dom Tchochoro</title>
<main class="page-content">
    <header>
        <a href="@Url.Action("POS", "Home")"><img src="~/Content/Imagens/send-back.svg" alt="Send back" class="send-img" /></a>
        <span></span>
        <small id="personName">@ViewBag.Name Ferdinando Silva</small>
        <img class="img-fluid avatar-picture" src="~/Content/Imagens/fakePictureProfile.svg" />
    </header>


    <div class="content">
        <div class="button-container">
            <button class="btn-money">Dinheiro</button>
            <button class="btn-card">Cartão de Crédito</button>
            <button class="btn-cardDebit">Cartão de Débito</button>
            <button class="vale">Vale</button>
        </div>
        <div class="container-default">
            <p class="value-buy">Valor da compra</p>
            <div class="separeted">
                <span class="sub-money">Subtotal: R$ 50,00</span>
                <span class="value-pay">Valor Pago: R$ 0,00</span>
            </div>
        </div>
        <div class="container-default">
            <p class="value-buy">Troco</p>
            <p class="sub-money">Devolva o troco para continuar</p>
            <p class="sub-money">Valo do troco: R$ 0,00 </p>
        </div>
        <div>
            <div class="input-block">
                <p class="title-pay">Valor pago:</p>
                <input type="text"
                       name="currency-field"
                       id="currency-field"
                       pattern="^\R$\d{1,3}(,\d{3})*(\.\d+)?R$"
                       value=""
                       data-type="currency"
                       placeholder="R$" />
            </div>
        </div>
        <button class="next-button" type="submit"><a href="@Url.Action("Receipt", "Home")">Pagar pedido</a><img src="~/Content/Imagens/arrow-right.svg" alt="Arrow right" class="arrow" /></button>
    </div>
</main>