@model GladiaSystem.Models.Product
@{
    ViewBag.Title = "POS";
    ViewBag.Selected = "pos";
    Layout = null;

    List<int> IDs = ViewBag.IDs;
    List<string> NameList = ViewBag.Name;
    List<int> PriceList = ViewBag.Price;
    List<int> QuantList = ViewBag.Quant;


}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/root.css")
@Styles.Render("~/Content/Partials/sidebar.css")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/fontawesome.css")
@Styles.Render("~/Content/Partials/header.css")
@Styles.Render("~/Content/Partials/form.css")
@Styles.Render("~/Content/Partials/config.css")
@Styles.Render("~/Content/Partials/agenda.css")
@Styles.Render("~/Content/Partials/pos.css")
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
@if (Session["access"] == null)
{
    <script>alert('Hacker saia imediatamente')</script>
    <script>window.location.href="localhost/error/"</script>
}

<title>PDV - Dom Tchochoro</title>

<main class="page-content">
    <header class="min-header">
        @if (Session["access"] == "1")
        {
            <a href="@Url.Action("Home", "Home")"><img src="~/Content/Imagens/send-back.svg" alt="Send back" class="send-img" /></a>
        }
        else
        {
            <a href="@Url.Action("Logout", "Home")"><img src="~/Content/Imagens/x-circle.svg" alt="Close" /></a>
        }
        <span></span>
        <small id="personName">@Session["name"]</small>
        <img class="img-fluid avatar-picture" src=@ViewBag.Img />
    </header>



    <div class="container">
        @using (Html.BeginForm("ProductGet", "Home", FormMethod.Post, new { @class = "form-none" }))
        {
        <div class="input-container">
            @Html.EditorFor(m => m.QuantOrder)
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Digite o nome do produto", @class = "input-add" })
            <button type="submit" style="border: 0; background: transparent">
              <img src="~/Content/Imagens/barcode.svg" class="bar-code" alt="delete" />
            </button>
        </div>
        }
        <div class="info-container">
            <div class="container-payment">
                <p class="info-text">Informações da compra </p>
                @{
                    int price = 0;
                    int totalPrice = 0;
                    
                    int quant = 0;
                    if (ViewBag.QuantOrder == null)
                    {
                        quant = 0;
                    }
                    else
                    {
                        quant = ViewBag.QuantOrder;
                    }
                }
                @{if (IDs != null & NameList != null & QuantList != null)
                    {
                        for (int i = 0; i < IDs.Count; i++)
                        {
                            <div class="item-text">
                                <div class="about-text">
                                    <p class="opacity-text">1X Cod @IDs[i]</p>
                                    <p class="item-name">@NameList[i]</p>
                                </div>
                                <p class="price">R$ @PriceList[i]</p>
                                <img src="~/Content/Imagens/dif-delete.svg" class="delete" alt="delete" />
                            </div>
                            <hr class="divide" />

                            totalPrice += PriceList[i] * quant;
                            price = totalPrice;
                        }
                    }
                }
            </div>
            <div class="container-payment values">
                <p class="tot-pay">Total a pagar: </p>
                <p class="tot-pay">R$ @totalPrice</p>

            </div>
            <button class="next-button" type="submit"><a href="@Url.Action("Payment", "Home", new { price = price})">Pagar pedido</a><img src="~/Content/Imagens/arrow-right.svg" alt="Arrow right" class="arrow" /></button>
        </div>
    </div>
</main>