@model GladiaSystem.Models.User

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Início - Dom Tchochoro</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/root.css")
    @Styles.Render("~/Content/Partials/sidebar.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome.css")
    @Styles.Render("~/Content/Partials/login.css")
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <div id="form-left">
            <img src="~/Content/Imagens/dom.svg" class="logo" />
            <p class="login">Fazer Login</p>

            @using (Html.BeginForm("LoginUser", "Login", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
            <fieldset>
                @if (ViewData["error"] != null)
                {
                    <div>
                        <script>alert('Email e senha não coincidem');</script>
                    </div>
                }
                <div class="input-block">
                    <label for="email">Email</label>
                    @Html.EditorFor(model => model.email)
                    @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                </div>

                <div class="input-block">
                    <label for="password">Senha</label>
                    @Html.EditorFor(model => model.password)
                    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                </div>

                <button class="login-btn" type="submit">
                    <img src="~/Content/Imagens/arrow.svg" alt="Seta">
                </button>
            </fieldset>
            }

            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval");
            }
        </div>

        <div id="photo">
            <img src="~/Content/Imagens/login.svg" ondragstart="return false;" id="iage" class="img-fluid" />
        </div>

    </main>
</body>
</html>